@font-face {
  font-family: 'Europe Bold';
  src:  url('../assets/font/EUR_bold.eot');
  src:  url('../assets/font/EUR_bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/EUR_bold.ttf') format('truetype'),
  url('../assets/font/EUR_bold.woff') format('woff'),
  url('../assets/font/EUR_bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
