.mod-search{
  &.container{
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  &.compilation{
    border: none;
    padding-top: 0;
    padding-bottom: 10px;
  }
}
.mod-bar{
  &.article-open__blue-title{
    margin-top: 35px;
  }
  &.articles{
    flex-direction: column;
    padding-bottom: 0;
    border: none;
  }
  .articles__card{
    width: 100%;
    margin-bottom: 20px;
  }
}
body.mod-modal{
  overflow-y: hidden;
}