@charset "UTF-8";
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ */
/* ╨Ь╨╕╨║╤Б╨╕╨╜╤Л */
/* line 1, _btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* ╨Ъ╨╜╨╛╨┐╨║╨╕ */
/* line 1, _ico.scss */
.ico {
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
/* line 5, _ico.scss */
.ico__like {
  background: url("../assets/img/ico/ico_like.png");
}
/* line 7, _ico.scss */
.ico__like_w {
  background: url("../assets/img/ico/ico_like_w.png");
}
/* line 11, _ico.scss */
.ico__comment {
  background: url("../assets/img/ico/ico_comment.png");
}
/* line 13, _ico.scss */
.ico__comment_w {
  background: url("../assets/img/ico/ico_comment_w.png");
}
/* line 17, _ico.scss */
.ico__watch {
  background: url("../assets/img/ico/ico_watch.png");
}
/* line 19, _ico.scss */
.ico__watch_w {
  background: url("../assets/img/ico/ico_watch_w.png");
}
/* line 23, _ico.scss */
.ico__prev {
  background: url("../assets/img/ico/ico_prev.png");
}
/* line 26, _ico.scss */
.ico__next {
  background: url("../assets/img/ico/ico_next.png");
}

/* ╨Ш╨║╨╛╨╜╨║╨╕ */
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
@font-face {
  font-family: 'Europe Bold';
  src: url("../assets/font/EUR_bold.eot");
  src: url("../assets/font/EUR_bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/EUR_bold.ttf") format("truetype"), url("../assets/font/EUR_bold.woff") format("woff"), url("../assets/font/EUR_bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
/* line 7, style.scss */
* {
  box-sizing: border-box;
}

/* line 11, style.scss */
.container {
  max-width: 850px;
  width: 850px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/* line 17, style.scss */
.container-fluid {
  vertical-align: top;
  display: block;
  max-width: 1140px;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 26, style.scss */
.container-small {
  display: inline-block;
  float: right;
  max-width: 262px;
  width: 262px;
  vertical-align: top;
}

/* line 34, style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: white;
}

/* ╨б╤В╨╕╨╗╤М ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О */
/* line 1, _header.scss */
header {
  position: relative;
  padding-top: 101px;
}

/* line 5, _header.scss */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 100;
  padding-top: 30px;
  padding-bottom: 15px;
  min-height: 95px;
  background-color: #ffffff;
  box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.11);
}
/* line 16, _header.scss */
.header__wrap {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 23, _header.scss */
.header__wrap__logo a {
  display: inline-block;
  position: relative;
  height: 33px;
  margin-right: 20px;
}
/* line 28, _header.scss */
.header__wrap__logo a img {
  height: 100%;
}
/* line 34, _header.scss */
.header__wrap__name__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Arial;
  font-size: 38px;
  font-weight: 300;
  line-height: 38px;
  color: #0a2973;
  text-transform: uppercase;
}
/* line 42, _header.scss */
.header__wrap__name__sub-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #0d2c75;
}
/* line 50, _header.scss */
.header__wrap__date {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
/* line 54, _header.scss */
.header__wrap__date__number {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #404040;
  text-transform: uppercase;
}
/* line 62, _header.scss */
.header__wrap__date__year {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  color: #404040;
}
/* line 71, _header.scss */
.header-search {
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 75, _header.scss */
.header-search__body {
  width: 100%;
  position: relative;
  height: 24px;
  border-bottom: 2px solid #009fdf;
  white-space: nowrap;
}
/* line 81, _header.scss */
.header-search__body__input {
  padding: 0 1px;
  vertical-align: top;
  height: 100%;
  width: calc(100% - 25px);
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Arial;
  font-size: 14px;
  font-weight: 300;
  color: #8a989b;
}
/* line 92, _header.scss */
.header-search__body__btn {
  float: right;
  display: inline-block;
  height: 100%;
  width: 18px;
  background: url("../assets/img/ico/ico_search.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
}
/* line 100, _header.scss */
.header-search__body__btn:hover {
  opacity: 0.7;
}
/* line 103, _header.scss */
.header-search__body__btn input {
  display: none;
}

/* ╨и╨░╨┐╨║╨░ */
/* line 1, _page.scss */
.hot {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 55px;
  position: relative;
  border-bottom: 1px solid #e6e8f2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
}
/* line 12, _page.scss */
.hot__content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #e6eefb;
  width: 850px;
}
/* line 20, _page.scss */
.hot__content__bg {
  position: relative;
  width: 65%;
  min-height: 1px;
  padding-top: 53%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
/* line 29, _page.scss */
.hot__content__info {
  width: 35%;
  position: relative;
  padding: 30px 20px 15px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 38, _page.scss */
.hot__content__info__type {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #009fdf;
}
/* line 45, _page.scss */
.hot__content__info__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Arial;
  font-size: 26px;
  font-weight: 500;
  line-height: 28px;
  color: #0a2973;
}
/* line 52, _page.scss */
.hot__content__info__text {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #404040;
}
/* line 59, _page.scss */
.hot__content__info__link {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #0a2973;
  text-decoration: none;
}
/* line 66, _page.scss */
.hot__content__info__link:hover {
  opacity: 0.8;
}
/* line 70, _page.scss */
.hot__content__info__social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: auto;
}
/* line 77, _page.scss */
.hot__content__info__social div {
  position: relative;
  height: 16px;
  margin-right: 10px;
}
/* line 81, _page.scss */
.hot__content__info__social div i {
  vertical-align: top;
  height: 16px;
  width: 17px;
  margin-right: 1px;
  display: inline-block;
}
/* line 88, _page.scss */
.hot__content__info__social div span {
  display: inline-block;
  height: 100%;
  line-height: 16px;
  font-family: Arial;
  font-size: 13px;
  font-weight: 300;
  color: #404040;
}
/* line 99, _page.scss */
.hot__bar {
  width: 262px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 105, _page.scss */
.hot__bar__wrap {
  position: relative;
}
/* line 108, _page.scss */
.hot__bar__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  color: #009fdf;
}
/* line 114, _page.scss */
.hot__bar__nav {
  margin-bottom: auto;
  padding-bottom: 20px;
}
/* line 117, _page.scss */
.hot__bar__nav__rubric {
  margin: 0 0 40px 0;
  padding: 0;
  list-style-type: none;
}
/* line 121, _page.scss */
.hot__bar__nav__rubric li {
  margin-bottom: 5px;
}
/* line 123, _page.scss */
.hot__bar__nav__rubric li a {
  display: inline-block;
  font-family: Arial;
  font-size: 18px;
  font-weight: 300;
  color: #0a2973;
  text-decoration: none;
}
/* line 128, _page.scss */
.hot__bar__nav__rubric li a:hover {
  color: #009fdf;
}
/* line 134, _page.scss */
.hot__bar__nav__group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e8f2;
}
/* line 143, _page.scss */
.hot__bar__nav__group a {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  color: #0a2973;
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}
/* line 147, _page.scss */
.hot__bar__nav__group a:hover {
  color: #009fdf;
}
/* line 156, _page.scss */
.hot__bar__user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  text-decoration: none;
}
/* line 166, _page.scss */
.hot__bar__user:hover p {
  color: #009fdf;
}
/* line 170, _page.scss */
.hot__bar__user p {
  text-align: left;
  font-family: Arial;
  font-size: 18px;
  font-weight: 300;
  color: #0a2973;
  line-height: 20px;
  padding-right: 10px;
}
/* line 177, _page.scss */
.hot__bar__user__avatar {
  background-color: #e6eefb;
  flex-shrink: 0;
  width: 50%;
  min-height: 1px;
  padding-top: 50%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 50%;
  overflow: hidden;
}

/* line 192, _page.scss */
.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e8f2;
}
/* line 201, _page.scss */
.articles__card {
  width: calc((100% - 60px) / 3);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 209, _page.scss */
.articles__card__bg {
  width: 100%;
  min-height: 1px;
  padding-top: 56%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
/* line 217, _page.scss */
.articles__card__type {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #009fdf;
}
/* line 224, _page.scss */
.articles__card__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Arial;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  color: #0a2973;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
/* line 233, _page.scss */
.articles__card__title:hover {
  color: #009fdf;
}
/* line 237, _page.scss */
.articles__card__text {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #404040;
}
/* line 244, _page.scss */
.articles__card__social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: auto;
}
/* line 251, _page.scss */
.articles__card__social div {
  position: relative;
  height: 16px;
  margin-right: 10px;
}
/* line 255, _page.scss */
.articles__card__social div i {
  vertical-align: top;
  height: 16px;
  width: 17px;
  margin-right: 1px;
  display: inline-block;
}
/* line 262, _page.scss */
.articles__card__social div span {
  display: inline-block;
  height: 100%;
  line-height: 16px;
  font-family: Arial;
  font-size: 13px;
  font-weight: 300;
  color: #404040;
}

/* line 273, _page.scss */
.preview {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e8f2;
}
/* line 282, _page.scss */
.preview__content {
  width: 100%;
  background-color: #e6eefb;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
/* line 291, _page.scss */
.preview__content__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
/* line 301, _page.scss */
.preview__content__control {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-top: 42%;
  flex-grow: 1;
}
/* line 307, _page.scss */
.preview__content__control__btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #ffffff;
  text-decoration: none;
  z-index: 1;
  height: 40px;
  width: 40px;
  overflow: hidden;
  padding: 12px;
}
/* line 320, _page.scss */
.preview__content__control__btn:hover {
  background-color: #009fdf;
}
/* line 323, _page.scss */
.preview__content__control__btn i {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 329, _page.scss */
.preview__content__control__btn.btn-prev {
  left: 20px;
  right: auto;
}
/* line 333, _page.scss */
.preview__content__control__btn.btn-prev:hover i {
  background: url("../assets/img/ico/ico_prev_w.png");
}
/* line 337, _page.scss */
.preview__content__control__btn.btn-prev i {
  background: url("../assets/img/ico/ico_prev.png");
}
/* line 341, _page.scss */
.preview__content__control__btn.btn-next {
  left: auto;
  right: 20px;
}
/* line 345, _page.scss */
.preview__content__control__btn.btn-next:hover i {
  background: url("../assets/img/ico/ico_next_w.png");
}
/* line 349, _page.scss */
.preview__content__control__btn.btn-next i {
  background: url("../assets/img/ico/ico_next.png");
}
/* line 356, _page.scss */
.preview__content__info {
  flex-shrink: 0;
  margin-top: auto;
  position: relative;
  width: 100%;
  background-color: rgba(12, 41, 81, 0.75);
  padding: 14px 22px;
}
/* line 363, _page.scss */
.preview__content__info__type {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #009fdf;
}
/* line 370, _page.scss */
.preview__content__info__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
}
/* line 377, _page.scss */
.preview__content__info__social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: auto;
}
/* line 384, _page.scss */
.preview__content__info__social div {
  position: relative;
  height: 16px;
  margin-right: 10px;
}
/* line 388, _page.scss */
.preview__content__info__social div i {
  vertical-align: top;
  height: 16px;
  width: 17px;
  margin-right: 1px;
  display: inline-block;
}
/* line 395, _page.scss */
.preview__content__info__social div span {
  display: inline-block;
  height: 100%;
  line-height: 16px;
  font-family: Arial;
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
}
/* line 406, _page.scss */
.preview__optional {
  flex-shrink: 0;
  margin-left: 30px;
  width: calc((100% - 60px) / 3);
  background-color: #e6eefb;
  padding: 25px;
}
/* line 412, _page.scss */
.preview__optional__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #009fdf;
}
/* line 419, _page.scss */
.preview__optional__link {
  display: inline-block;
  width: 100%;
  position: relative;
}
/* line 423, _page.scss */
.preview__optional__link img {
  width: 100%;
}

/* line 429, _page.scss */
.compilation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e8f2;
}
/* line 438, _page.scss */
.compilation__content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 446, _page.scss */
.compilation__content__card {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 456, _page.scss */
.compilation__content__card__bg {
  width: 36%;
  padding-top: 20%;
  flex-shrink: 0;
  min-height: 1px;
  margin-right: 30px;
  background-color: #e6eefb;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
/* line 467, _page.scss */
.compilation__content__card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
/* line 473, _page.scss */
.compilation__content__card__info__type {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #0a2973;
}
/* line 480, _page.scss */
.compilation__content__card__info__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Arial;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  color: #0a2973;
  text-decoration: none;
}
/* line 487, _page.scss */
.compilation__content__card__info__title:hover {
  color: #009fdf;
}
/* line 491, _page.scss */
.compilation__content__card__info__text {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  color: #404040;
}
/* line 498, _page.scss */
.compilation__content__card__info__date {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  color: #404040;
}
/* line 508, _page.scss */
.compilation__content__card__info__social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}
/* line 515, _page.scss */
.compilation__content__card__info__social div {
  position: relative;
  height: 16px;
  margin-right: 10px;
}
/* line 519, _page.scss */
.compilation__content__card__info__social div i {
  vertical-align: top;
  height: 16px;
  width: 17px;
  margin-right: 1px;
  display: inline-block;
}
/* line 526, _page.scss */
.compilation__content__card__info__social div span {
  display: inline-block;
  height: 100%;
  line-height: 16px;
  font-family: Arial;
  font-size: 13px;
  font-weight: 300;
  color: #404040;
}
/* line 538, _page.scss */
.compilation__optional {
  flex-shrink: 0;
  padding-left: 28px;
  border-left: 1px solid #e6e8f2;
  width: 292px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
/* line 548, _page.scss */
.compilation__optional__card {
  width: 100%;
  position: relative;
}
/* line 551, _page.scss */
.compilation__optional__card__bg {
  width: 100%;
  min-height: 1px;
  padding-top: 58%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
/* line 559, _page.scss */
.compilation__optional__card__type {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #009fdf;
}
/* line 566, _page.scss */
.compilation__optional__card__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #0a2973;
  text-decoration: none;
}
/* line 573, _page.scss */
.compilation__optional__card__title:hover {
  color: #009fdf;
}
/* line 579, _page.scss */
.compilation__link {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #009fdf;
  text-decoration: none;
}
/* line 586, _page.scss */
.compilation__link:hover {
  text-decoration: underline;
}

/* line 591, _page.scss */
.event {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e8f2;
  position: relative;
  width: 100%;
}
/* line 602, _page.scss */
.event__body {
  position: relative;
  width: 100%;
}
/* line 605, _page.scss */
.event__body__head {
  position: relative;
  z-index: 1;
}
/* line 608, _page.scss */
.event__body__head__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  color: #009fdf;
  line-height: 18px;
}
/* line 616, _page.scss */
.event__body__control {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 622, _page.scss */
.event__body__control__btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  border-radius: 50%;
  background-color: #e6eefb;
  text-decoration: none;
  z-index: 2;
  height: 32px;
  width: 32px;
  overflow: hidden;
  padding: 9px;
}
/* line 635, _page.scss */
.event__body__control__btn:hover {
  background-color: #009fdf;
}
/* line 638, _page.scss */
.event__body__control__btn i {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 644, _page.scss */
.event__body__control__btn.btn-prev {
  left: -45px;
  right: auto;
}
/* line 648, _page.scss */
.event__body__control__btn.btn-prev:hover i {
  background: url("../assets/img/ico/ico_prev_w.png");
}
/* line 652, _page.scss */
.event__body__control__btn.btn-prev i {
  background: url("../assets/img/ico/ico_prev.png");
}
/* line 656, _page.scss */
.event__body__control__btn.btn-next {
  left: auto;
  right: -45px;
}
/* line 660, _page.scss */
.event__body__control__btn.btn-next:hover i {
  background: url("../assets/img/ico/ico_next_w.png");
}
/* line 664, _page.scss */
.event__body__control__btn.btn-next i {
  background: url("../assets/img/ico/ico_next.png");
}
/* line 671, _page.scss */
.event__body__wrap {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% + 30px);
  left: -15px;
  position: relative;
  z-index: 1;
}
/* line 682, _page.scss */
.event__body__wrap__card {
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 15px;
  width: calc((100% - 120px) / 4);
  position: relative;
}
/* line 688, _page.scss */
.event__body__wrap__card__bg {
  width: 100%;
  min-height: 1px;
  padding-top: 58%;
  margin-bottom: 20px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
/* line 697, _page.scss */
.event__body__wrap__card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #0a2973;
  text-decoration: none;
}
/* line 704, _page.scss */
.event__body__wrap__card__title:hover {
  color: #009fdf;
}

/* line 712, _page.scss */
.choice {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e8f2;
  position: relative;
  width: 100%;
}
/* line 723, _page.scss */
.choice__select {
  width: calc((100% - 90px) / 4);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-shrink: 0;
}
/* line 731, _page.scss */
.choice__select__btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  align-self: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  padding: 9px;
  background-color: #e6eefb;
  z-index: 2;
  flex-shrink: 0;
}
/* line 743, _page.scss */
.choice__select__btn:hover {
  background-color: #009fdf;
}
/* line 746, _page.scss */
.choice__select__btn i {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 754, _page.scss */
.choice__select__btn.btn-prev:hover i {
  background: url("../assets/img/ico/ico_prev_w.png");
}
/* line 758, _page.scss */
.choice__select__btn.btn-prev i {
  background: url("../assets/img/ico/ico_prev.png");
}
/* line 764, _page.scss */
.choice__select__btn.btn-next:hover i {
  background: url("../assets/img/ico/ico_next_w.png");
}
/* line 768, _page.scss */
.choice__select__btn.btn-next i {
  background: url("../assets/img/ico/ico_next.png");
}
/* line 774, _page.scss */
.choice__select__wrap {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
/* line 778, _page.scss */
.choice__select__wrap__card {
  width: calc(100% - 30px);
  margin: 0 15px;
  display: inline-block;
}
/* line 782, _page.scss */
.choice__select__wrap__card__img {
  width: 100%;
  position: relative;
  max-height: 220px;
  background-color: #e6eefb;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 789, _page.scss */
.choice__select__wrap__card__img a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 794, _page.scss */
.choice__select__wrap__card__img a img {
  width: 100%;
}
/* line 799, _page.scss */
.choice__select__wrap__card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-self: flex-start;
  justify-content: flex-start;
}
/* line 806, _page.scss */
.choice__select__wrap__card__info__text {
  width: calc(50% - 10px);
  white-space: normal;
  margin: 0;
}
/* line 810, _page.scss */
.choice__select__wrap__card__info__text__number {
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  color: #404040;
}
/* line 815, _page.scss */
.choice__select__wrap__card__info__text__year {
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  color: #404040;
}
/* line 820, _page.scss */
.choice__select__wrap__card__info__text span {
  width: 100%;
  display: inline-block;
}
/* line 825, _page.scss */
.choice__select__wrap__card__info__link {
  width: calc(50% + 10px);
  white-space: normal;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  color: #0a2973;
  line-height: 14px;
  text-decoration: none;
}
/* line 832, _page.scss */
.choice__select__wrap__card__info__link:hover {
  color: #009fdf;
}
/* line 840, _page.scss */
.choice__banner {
  width: 100%;
  margin-left: 30px;
  flex-grow: 1;
  background-color: #e6eefb;
  position: relative;
}
/* line 846, _page.scss */
.choice__banner__item {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: left center !important;
  background-repeat: no-repeat !important;
}

/* ╨Ю╤Б╨╜╨╛╨▓╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* ╨Ю╨┐╤Ж╨╕╨╛╨╜╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* line 1, _footer.scss */
.footer {
  width: 100vw;
  background-color: #e6eefb;
  box-shadow: inset 0px 3px 8px 0 rgba(0, 0, 0, 0.11);
  position: relative;
  top: -1px;
  margin-bottom: -1px;
}
/* line 8, _footer.scss */
.footer__body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px 0;
}
/* line 17, _footer.scss */
.footer__body__nav {
  width: 50%;
  position: relative;
  margin-right: auto;
}
/* line 21, _footer.scss */
.footer__body__nav ul {
  width: 100%;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 32, _footer.scss */
.footer__body__nav ul li {
  width: 25%;
  flex-shrink: 0;
  flex-grow: 0;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 38, _footer.scss */
.footer__body__nav ul li a {
  text-decoration: none;
  display: inline-block;
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  color: #404040;
  line-height: 11px;
}
/* line 44, _footer.scss */
.footer__body__nav ul li a:hover {
  color: #8a989b;
}
/* line 51, _footer.scss */
.footer__body__info {
  flex-shrink: 0;
  text-align: right;
}
/* line 54, _footer.scss */
.footer__body__info__title {
  height: 18px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  line-height: 18px;
  position: relative;
  margin-bottom: 20px;
}
/* line 63, _footer.scss */
.footer__body__info__title:hover p {
  color: #009fdf;
}
/* line 67, _footer.scss */
.footer__body__info__title img {
  height: 100%;
  margin-right: 10px;
  display: inline-block;
}
/* line 72, _footer.scss */
.footer__body__info__title p {
  margin: 0;
  display: inline-block;
  font-family: Arial;
  font-size: 19px;
  font-weight: 300;
  color: #0a2973;
  line-height: 18px;
  text-transform: uppercase;
}
/* line 81, _footer.scss */
.footer__body__info__text {
  width: 100%;
  margin: 0 0 10px 0;
  white-space: nowrap;
  text-align: right;
}
/* line 86, _footer.scss */
.footer__body__info__text__number {
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  color: #404040;
  margin-right: 10px;
}
/* line 91, _footer.scss */
.footer__body__info__text__year {
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  color: #404040;
}
/* line 95, _footer.scss */
.footer__body__info__text span {
  display: inline-block;
  line-height: 18px;
}
/* line 100, _footer.scss */
.footer__body__info__link {
  text-align: right;
  display: inline-block;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  color: #0a2973;
}
/* line 106, _footer.scss */
.footer__body__info__link:hover {
  color: #009fdf;
}

/* ╨Я╨╛╨┤╨▓╨░╨╗ */
@media screen and (max-width: 1199px) {
  /* line 2, _media.scss */
  .container {
    width: 650px;
    max-width: 650px;
  }
  /* line 5, _media.scss */
  .container-fluid {
    width: 940px;
    max-width: 940px;
  }
  /* line 9, _media.scss */
  .container-small {
    width: 260px;
    max-width: 260px;
  }

  /* line 14, _media.scss */
  .hot__content {
    width: 650px;
  }

  /* line 17, _media.scss */
  .hot__content__info {
    padding: 20px 10px 15px 15px;
    width: 40%;
  }

  /* line 21, _media.scss */
  .hot__content__info__type {
    margin-bottom: 15px;
  }

  /* line 24, _media.scss */
  .hot__content__info__title {
    font-size: 20px;
    line-height: 24px;
  }

  /* line 28, _media.scss */
  .hot__bar__title {
    margin-bottom: 15px;
  }

  /* line 31, _media.scss */
  .hot__bar__nav__rubric li {
    margin-bottom: 1px;
  }

  /* line 34, _media.scss */
  .hot__bar__nav__rubric {
    margin: 0 0 20px 0;
  }

  /* line 37, _media.scss */
  .hot__bar__nav {
    padding-bottom: 10px;
  }

  /* line 40, _media.scss */
  .hot__bar__nav__group {
    padding-bottom: 5px;
  }

  /* line 43, _media.scss */
  .hot__bar__user__avatar {
    width: 40%;
    padding-top: 40%;
  }
}
@media screen and (max-width: 991px) {
  /* line 49, _media.scss */
  .container {
    width: 740px;
    max-width: 740px;
  }
  /* line 52, _media.scss */
  .container-fluid {
    width: 740px;
    max-width: 740px;
  }
  /* line 56, _media.scss */
  .container-small {
    width: 260px;
    max-width: 260px;
  }

  /* line 61, _media.scss */
  header {
    padding-top: 146px;
  }

  /* line 64, _media.scss */
  .header-search {
    float: none;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }

  /* line 70, _media.scss */
  .hot {
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  /* line 74, _media.scss */
  .hot__content {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 78, _media.scss */
  .hot__bar {
    width: 100%;
    flex-direction: row;
  }

  /* line 82, _media.scss */
  .hot__bar__wrap {
    width: 50%;
  }

  /* line 85, _media.scss */
  .hot__bar__nav__group {
    border-bottom: none;
  }

  /* line 88, _media.scss */
  .articles__card {
    width: calc((100% - 30px) / 3);
  }

  /* line 91, _media.scss */
  .articles__card__title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  /* line 96, _media.scss */
  .articles__card__type {
    margin-bottom: 5px;
    margin-top: 15px;
  }

  /* line 100, _media.scss */
  .preview__optional {
    margin-left: 10px;
    width: calc((100% - 140px) / 3);
    padding: 10px;
  }

  /* line 105, _media.scss */
  .preview__content__info__title {
    font-size: 26px;
    line-height: 27px;
  }

  /* line 109, _media.scss */
  .preview__content__info {
    padding: 10px 15px;
  }

  /* line 112, _media.scss */
  .preview__content__control {
    padding-top: 30%;
  }

  /* line 115, _media.scss */
  .compilation {
    flex-wrap: wrap;
  }

  /* line 118, _media.scss */
  .compilation__optional {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
    margin-top: 20px;
    border-left: none;
    border-top: 1px solid #e6e8f2;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* line 128, _media.scss */
  .compilation__link {
    position: relative;
    white-space: nowrap;
  }

  /* line 132, _media.scss */
  .compilation__optional__card {
    width: calc((100% - 30px) / 3);
    margin-bottom: 15px;
  }

  /* line 136, _media.scss */
  .event__body__wrap {
    left: -10px;
    width: calc(100% + 20px);
  }

  /* line 140, _media.scss */
  .event__body__wrap__card {
    margin: 0 10px;
    width: calc((100% - 60px) / 3);
  }

  /* line 144, _media.scss */
  .choice__select {
    width: calc((100% - 60px) / 3);
  }

  /* line 147, _media.scss */
  .choice__select__wrap__card__img {
    margin-bottom: 5px;
  }

  /* line 150, _media.scss */
  .choice__select__wrap__card__info {
    flex-direction: column;
  }

  /* line 153, _media.scss */
  .choice__select__wrap__card__info__text {
    width: 100%;
    text-align: center;
  }
  /* line 156, _media.scss */
  .choice__select__wrap__card__info__text span {
    width: auto;
  }

  /* line 160, _media.scss */
  .choice__select__wrap__card__info__link {
    width: 100%;
  }

  /* line 163, _media.scss */
  .choice__select__btn {
    width: 24px;
    height: 24px;
    padding: 6px;
  }

  /* line 168, _media.scss */
  .choice__select__wrap__card {
    width: calc(100% - 20px);
    margin: 0 10px;
  }

  /* line 172, _media.scss */
  .choice__select__wrap__card__img {
    max-height: 200px;
  }

  /* line 175, _media.scss */
  .choice__banner {
    margin-left: 15px;
  }

  /* line 178, _media.scss */
  .footer__body__nav {
    width: 65%;
  }
}
@media screen and (max-width: 767px) {
  /* line 183, _media.scss */
  .container {
    width: 560px;
    max-width: 560px;
  }
  /* line 186, _media.scss */
  .container-fluid {
    width: 560px;
    max-width: 560px;
  }
  /* line 190, _media.scss */
  .container-small {
    width: 260px;
    max-width: 260px;
  }

  /* line 195, _media.scss */
  header {
    padding-top: 131px;
  }

  /* line 198, _media.scss */
  .header__wrap__name {
    text-align: center;
    white-space: nowrap;
    flex-grow: 1;
  }

  /* line 203, _media.scss */
  .header__wrap__date {
    margin-right: 0;
  }

  /* line 206, _media.scss */
  .header {
    padding-top: 15px;
  }

  /* line 209, _media.scss */
  .header__wrap__name__title {
    font-size: 30px;
  }

  /* line 212, _media.scss */
  .header__wrap__logo a {
    margin-right: 0;
  }

  /* line 215, _media.scss */
  .hot__content {
    flex-wrap: wrap;
  }

  /* line 218, _media.scss */
  .hot__content__bg {
    width: 100%;
    padding-top: 80%;
  }

  /* line 222, _media.scss */
  .hot {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  /* line 227, _media.scss */
  .hot__content__info {
    width: 100%;
  }

  /* line 230, _media.scss */
  .hot__content__info__link {
    margin-bottom: 20px;
  }

  /* line 233, _media.scss */
  .preview__content__info__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
  }

  /* line 238, _media.scss */
  .preview__content__info__type {
    margin-bottom: 5px;
  }

  /* line 241, _media.scss */
  .compilation__content__card {
    padding-right: 0;
  }

  /* line 244, _media.scss */
  .compilation__content__card__bg {
    margin-right: 15px;
    width: 45%;
    padding-top: 25%;
  }

  /* line 249, _media.scss */
  .compilation__content__card__info__type {
    margin-bottom: 10px;
  }

  /* line 252, _media.scss */
  .compilation__content__card__info__title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 18px;
  }

  /* line 257, _media.scss */
  .compilation__content__card__info__text {
    font-size: 16px;
    line-height: 16px;
  }

  /* line 261, _media.scss */
  .compilation__content__card__info__social {
    margin-top: 0;
  }

  /* line 264, _media.scss */
  .choice {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* line 268, _media.scss */
  .choice__select {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 272, _media.scss */
  .choice__select__btn {
    width: 44px;
    height: 44px;
    padding: 11px;
  }

  /* line 277, _media.scss */
  .choice__select__wrap {
    flex-grow: 1;
    width: 100%;
    margin: 0 10px;
  }

  /* line 282, _media.scss */
  .choice__select__wrap__card {
    width: calc(50% - 20px);
  }

  /* line 285, _media.scss */
  .choice__select__wrap__card__info__link {
    text-align: center;
    margin-top: 5px;
  }

  /* line 289, _media.scss */
  .choice__select__wrap__card__img {
    margin-bottom: 10px;
    max-height: 260px;
  }

  /* line 293, _media.scss */
  .choice__banner {
    margin-left: 0;
  }

  /* line 296, _media.scss */
  .choice__banner__item {
    height: 0;
    min-height: 1px;
    padding-top: 31%;
    display: block;
  }

  /* line 302, _media.scss */
  .footer__body {
    flex-wrap: wrap;
  }

  /* line 305, _media.scss */
  .footer__body__nav {
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 309, _media.scss */
  .footer__body__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
  }

  /* line 318, _media.scss */
  .footer__body__info__title {
    width: 50%;
    margin-bottom: 0;
  }

  /* line 322, _media.scss */
  .footer__body__info__text {
    width: 50%;
  }

  /* line 325, _media.scss */
  .footer__body__info__link {
    margin-left: auto;
  }
}
@media screen and (max-width: 574px) {
  /* line 330, _media.scss */
  .container {
    width: calc(100% - 20px);
    max-width: 440px;
  }
  /* line 333, _media.scss */
  .container-fluid {
    width: calc(100% - 20px);
    max-width: 440px;
  }
  /* line 337, _media.scss */
  .container-small {
    width: 260px;
    max-width: 260px;
  }

  /* line 342, _media.scss */
  .header__wrap {
    flex-wrap: wrap;
  }

  /* line 345, _media.scss */
  .header__wrap__name {
    order: 1;
  }

  /* line 348, _media.scss */
  .header__wrap__name__title {
    font-size: 26px;
    line-height: 32px;
  }

  /* line 352, _media.scss */
  header {
    padding-top: 161px;
  }

  /* line 355, _media.scss */
  .hot__content__info {
    padding: 15px 10px;
  }

  /* line 358, _media.scss */
  .hot__content__info__type {
    margin-bottom: 10px;
    font-size: 16px;
  }

  /* line 362, _media.scss */
  .hot__content__info__title {
    font-size: 18px;
    line-height: 20px;
  }

  /* line 366, _media.scss */
  .hot__bar {
    flex-wrap: wrap;
  }

  /* line 369, _media.scss */
  .hot__bar__wrap {
    width: 100%;
  }

  /* line 372, _media.scss */
  .hot__bar__nav__group {
    border-bottom: 1px solid #e6e8f2;
  }

  /* line 375, _media.scss */
  .hot {
    padding-bottom: 20px;
  }

  /* line 378, _media.scss */
  .articles {
    flex-direction: column;
  }

  /* line 381, _media.scss */
  .articles__card {
    width: 100%;
    margin-bottom: 25px;
  }

  /* line 385, _media.scss */
  .preview {
    flex-wrap: wrap;
  }

  /* line 388, _media.scss */
  .preview__optional {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  /* line 393, _media.scss */
  .preview__content__control {
    padding-top: 60%;
  }

  /* line 396, _media.scss */
  .compilation__content__card {
    flex-direction: column;
  }

  /* line 399, _media.scss */
  .compilation__content__card__bg {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 55%;
  }

  /* line 405, _media.scss */
  .compilation__optional {
    flex-direction: column;
  }

  /* line 408, _media.scss */
  .compilation__optional__card {
    width: 100%;
    margin-bottom: 20px;
  }

  /* line 412, _media.scss */
  .compilation__optional__card__type {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  /* line 416, _media.scss */
  .event__body__wrap {
    width: 100%;
    left: 0;
    margin-top: 60px;
  }

  /* line 421, _media.scss */
  .event__body__wrap__card {
    margin: 0 5px;
    width: calc((100% - 20px) / 2);
  }

  /* line 425, _media.scss */
  .event__body__wrap__card__bg {
    margin-bottom: 5px;
  }

  /* line 428, _media.scss */
  .event__body__control__btn {
    top: 30px;
    transform: translateY(0);
  }

  /* line 432, _media.scss */
  .event__body__control__btn.btn-prev {
    left: 20px;
  }

  /* line 435, _media.scss */
  .event__body__control__btn.btn-next {
    right: 20px;
  }

  /* line 438, _media.scss */
  .choice__select__wrap__card {
    width: calc(100% - 20px);
  }

  /* line 441, _media.scss */
  .footer__body__nav ul li {
    width: 50%;
  }

  /* line 444, _media.scss */
  .footer > div {
    display: inline-block;
  }

  /* line 447, _media.scss */
  .footer__body {
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 20px 0;
  }

  /* line 452, _media.scss */
  .footer__body__nav ul {
    padding: 0 25px;
  }

  /* line 455, _media.scss */
  .footer__body__info__title {
    width: 100%;
    margin-bottom: 10px;
  }

  /* line 459, _media.scss */
  .footer__body__info__text {
    width: auto;
    display: inline-block;
  }
}
/* ╨Ь╨╡╨┤╨╕╨░ ╨╖╨░╨┐╤А╨╛╤Б╤Л */
